.signInput {
  border: 0;
  border-radius: 12.5px;
  margin-top: 10px;
  width: 230px;
  height: 30px;
  background: #f0f3f6;
  padding: 0 10px 0 10px;
}

.signBtn {
  color: #fdfeff;
  font-weight: bold;
  font-size: 15px;
  border: 0;
  outline: 0;
  width: 250px;
  height: 30px;
  margin-top: 20px;
  border-radius: 15px;
  background: #1d9acb;
  box-shadow: 0px 0px 20px 0px rgba(80, 80, 80, 20%);
}
