.ProfileBack {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #fdfeff;
  z-index: -1;
}

.stopProfile {
  position: fixed;
  top: 5px;
  left: 50%;
  margin-left: -45px;
}

.goAHead {
  position: absolute;
  top: 345px;
}
