.HScroller {
  position: relative;
  width: 100%;
  height: fit-content;
  margin-top: 50px;
  margin-bottom: 30px;
}

.hScrollWrapper {
  display: flex;
  overflow-x: scroll;
  padding: 0 10% 0 5%;
}

.hScrollLeft,
.hScrollRight {
  position: absolute;
  top: 50%;
  width: 25px;
  height: 25px;
  z-index: 999;
}

.hScrollLeft {
  left: 5%;
  background: url(../../../imgs/icons//leftScrl.svg) no-repeat;
  background-size: 100%;
}

.hScrollRight {
  right: 5%;
  background: url(../../../imgs/icons//rightScrl.svg) no-repeat;
  background-size: 100%;
}

.hScrlTitle {
  position: absolute;
  top: -5px;
  left: 10%;
  font-size: 17px;
  color: #05b0ea;
  font-weight: bold;
}
