.postHeadBack {
  box-sizing: border-box;
  z-index: 9999;
  position: fixed;
  top: 0;
  width: 100%;
  height: 65px;
  padding-left: 5%;
  background: #fdfeff;
  box-shadow: 0px 5px 20px 0px rgba(80, 80, 80, 10%);
}

.postingInfo {
  text-align: center;
  margin-bottom: 100px;
  width: 100%;
}

.postingBack {
  display: inline-block;
  padding-top: 100px;
  width: 350px;
  padding-bottom: 80px;
  border-radius: 20px;
  background: #fdfeff;
}

.postingContent {
  margin-top: 40px;
  line-height: 30px;
}
