.postHeadBack {
  box-sizing: border-box;
  z-index: 9999;
  position: fixed;
  top: 0;
  width: 100%;
  height: 65px;
  padding-left: 5%;
  background: #fdfeff;
  box-shadow: 0px 5px 20px 0px rgba(80, 80, 80, 10%);
}

.postingInfo {
  text-align: center;
  margin-bottom: 100px;
  width: 100%;
}

.postingBack {
  display: inline-block;
  padding-top: 100px;
  width: 350px;
  padding-bottom: 80px;
  border-radius: 20px;
  background: #fdfeff;
}

.postingContent {
  margin-top: 40px;
  line-height: 30px;
}

.replies {
  display: inline-block;
  margin-top: 25px;
  width: 340px;
  height: 300px;
  background: white;
}

/* WritePage  */
.postSubmitBtn {
  color: #fdfeff;
  font-weight: bold;
  font-size: 15px;
  position: relative;
  top: 30px;
  width: 250px;
  height: 30px;
  border-radius: 15px;
  background: #1d9acb;
  box-shadow: 0px 0px 20px 0px rgba(80, 80, 80, 20%);
}

.writeHead {
  position: fixed;
  top: 22px;
  left: 0;
  text-align: center;
  width: 100%;
  font-size: 15px;
  font-weight: bold;
}

.emptyTitle {
  color: #e6e8ea;
}

.postInput {
  box-sizing: border-box;
  border: 0;
  border-radius: 12.5px;
  width: 250px;
  height: 30px;
  margin-top: 25px;
  background: #f0f3f6;
  padding: 0 10px 0 10px;
}
