.head {
  position: absolute;
  top: 0;
  width: 100%;
  height: 280px;
  background: #fdfeff;
  box-shadow: 0px 5px 20px 0px rgba(80, 80, 80, 10%);
  border-radius: 0 0 15px 15px;
  z-index: 9999;
}

.crouch {
  position: fixed;
  top: -200px;
  width: 100%;
  height: 280px;
  background: #fdfeff;
  box-shadow: 0px 5px 20px 0px rgba(80, 80, 80, 10%);
  border-radius: 0 0 15px 15px;
  z-index: 9999;
}

.search {
  border: 0;
  width: 350px;
  height: 25px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -175px;
}

.searchBar {
  border: 0;
  outline: 0;
  border-radius: 12.5px;
  padding: 0px 30px 2px 10px;
  background: #f0f3f6;
  width: 310px;
  height: 23px;
}

.magnifier {
  position: absolute;
  top: 3px;
  right: 10px;
  background: url(../../../imgs/icons/search.svg);
  width: 20px;
  height: 20px;
  background-size: 100%;
}

.topLinks {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 9999;
}

.home {
  text-decoration: none;
  position: relative;
  padding-left: 22px;
  background: rgba(0, 0, 0, 0);
  font-size: 14px;
  font-weight: bold;
}

.home::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  background: url(../../../imgs/logoShadow256.png);
  width: 20px;
  height: 20px;
  background-size: 100%;
}

.likes,
.chats {
  position: fixed;
  background: rgba(0, 0, 0, 0);
  width: 25px;
  height: 25px;
}

.likes {
  right: 60px;
  background: url(../../../imgs/icons/likes.svg) no-repeat;
  background-size: 100%;
}

.chats {
  right: 20px;
  background: url(../../../imgs/icons/chats.svg) no-repeat;
  background-size: 100%;
}
