.userImg {
  display: inline-block;
  background: #f0f3f6;
  border-radius: 50%;
  position: relative;
}

.userName {
  font-size: 14px;
  font-weight: bold;
  background: rgba(0, 0, 0, 0);
  position: relative;
  top: -13px;
  left: 5px;
  text-decoration: none;
}
