.userImg {
  border: 0;
  outline: 0;
  cursor: pointer;
  background: #f0f3f6;
  position: relative;
}

.userName {
  font-size: 14px;
  font-weight: bold;
  border: 0;
  outline: 0;
  background: rgba(0, 0, 0, 0);
  position: relative;
  top: -10px;
}
