.post,
.adv {
  position: relative;
  left: -20px;
  border: 0;
  border-radius: 20px;
  background: #fdfeff;
  padding: 0px;
  margin: 25px auto;
  box-shadow: 0px 0px 15px 0px rgba(80, 80, 80, 10%);
}

.post {
  width: 340px;
  height: 380px;
}

.adv {
  width: 340px;
  height: 190px;
}
.advBack {
  position: absolute;
  width: 340px;
  height: 190px;
  border: 0;
  outline: 0;
  border-radius: 20px;
  padding-top: 10px;
  font-weight: bold;
  font-size: 25px;
}

.postHead {
  width: 100%;
  height: 60px;
}

.postHeadBtn {
  border: 0;
  outline: 0;
  cursor: pointer;
  position: absolute;
  top: 20px;
  background-size: 25px 25px;
  width: 25px;
  height: 25px;
}

.content {
  position: absolute;
  top: 60px;
  left: 20px;
  width: 300px;
  height: 300px;
  border: 0;
  outline: 0;
  box-shadow: 0 0 15px 0 rgba(80, 80, 80, 30%);
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  border-radius: 20px;
}

.contentTitle {
  position: relative;
  font-size: 30px;
  margin-top: 27%;
}

.contentSub {
  font-size: 25px;
  margin-top: 5px;
}
