.post,
.adv {
  text-align: left;
  position: relative;
  box-sizing: border-box;
  left: 50%;
  margin-left: -170px;
  margin-top: 25px;
  border: 0;
  border-radius: 20px;
  background: #fdfeff;
  padding: 0px;
  box-shadow: 0px 0px 15px 0px rgba(80, 80, 80, 10%);
}

.post {
  width: 340px;
  height: 380px;
}

.adv {
  width: 340px;
  height: 190px;
}
.advBack {
  position: absolute;
  box-sizing: border-box;
  padding-top: 5px;
  width: 340px;
  min-height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 0;
  border-radius: 20px;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}

.postHead {
  width: 100%;
  height: 60px;
}

.postHeadBtn {
  position: absolute;
  top: 20px;
  background-size: 25px 25px;
  width: 25px;
  height: 25px;
  z-index: 2;
}

.content,
.contentLink {
  position: relative;
  border: 0;
  outline: 0;
  border-radius: 20px;
}

.content {
  box-sizing: border-box;
  top: 0px;
  left: 50%;
  margin-left: -150px;
  width: 300px;
  height: 300px;
  padding-top: 0.1px;
  box-shadow: 0 0 15px 0 rgba(80, 80, 80, 30%);
  text-align: center;
  font-weight: bold;
}

.contentLink,
.contentDisable {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.contentDisable {
  z-index: 9999;
}

.contentTitle {
  position: relative;
  font-size: 30px;
  margin-top: 27%;
}

.contentSub {
  position: relative;
  font-size: 25px;
  margin-top: 5px;
}
