.profileHeader {
  position: fixed;
  top: 0;
  text-align: center;
  width: 100%;
  z-index: 5;
}

.profileHeaderBar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 45px;
  background: transparent;
  z-index: 9999;
}

.profileTopBtn {
  position: fixed;
  top: 10px;
  right: 15px;
  z-index: 9999;
}

.follow,
.followed,
.changeImg {
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 12.5px;
  height: 25px;
  padding: 0 15px 0 15px;
  color: #fdfeff;
  background: #505560;
}

.follow {
  background: #ffcc00;
}

.goAHead {
  position: absolute;
  top: 245px;
}

/* Scouter */
.scouter {
  position: relative;
  text-align: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 10px;
  z-index: 5;
}

.scouterCircle {
  display: inline-block;
  position: absolute;
  top: -29px;
  left: 50%;
  margin: 50px 0 30px -44px;
  width: 84px;
  height: 84px;
  border-radius: 50%;
  border: 2px solid #ffcc00;
  z-index: 9999;
}

.scouterImg {
  display: inline-block;
  position: relative;
  top: 0;
  left: -3px;
  width: 200px;
  height: 150px;
  background: url(../../../imgs/icons/scouter.svg) no-repeat;
  background-size: 100%;
  z-index: 9999;
}

.scouterText {
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -150px;
  color: #ffcc00;
  font-weight: bold;
}

.scouterLine {
  position: absolute;
  top: 80px;
  right: 50%;
  width: 40px;
  height: 20px;
  margin-right: -65px;
  background: url(../../../imgs/icons/scouterLine.svg) no-repeat;
  background-size: 100%;
}

.strength,
.strengthBase {
  position: absolute;
  top: 90px;
  right: 50%;
  color: #ffcc00;
  font-weight: bold;
  text-align: right;
  margin-right: -105px;
}

.strengthBase {
  margin-right: -150px;
}

/* Friend List */
.Friend,
.emptyFriend {
  display: inline-block;
  margin: 30px 10px 0 10px;
}

.friendName {
  margin-top: 5px;
}

.emptyFriend {
  box-sizing: border-box;
  text-align: center;
  padding-top: 30px;
  padding-left: 25px;
  color: #e6e8ea;
  width: 100%;
  height: 80px;
  margin-left: 0;
  margin-right: 0;
}

/* PostList */
.postContainer {
  text-align: left;
  margin: 10px 100px 10px 100px;
}

.adVer {
  padding-top: 70px;
  padding-bottom: 70px;
}

.emptyPost {
  display: inline-block;
  width: 100%;
  margin: 10px 50px 10px 50px;
}

.wantMore {
  text-align: center;
  width: 100%;
  font-size: 15px;
  color: #05b0ea;
  background: rgba(0, 0, 0, 0);
}

/* DealHistory */
.historyContainer {
  text-align: left;
  margin: 10px 15px 10px 15px;
}

.section-header {
  font-size: 17px;
  color: #05b0ea;
  font-weight: bold;
  text-align: center;
  padding-top:50px;
}

.slick-list {
  padding-left: 10%;
  padding-right: 10%;
}
