.MainPage {
  font-family: "NotoSans KR";
  padding-top: 280px;
  padding-bottom: 70px;
  color: #202326;
  background: #f0f3f6;
}

.headBack {
  background: #fdfeff;
  width: 100%;
  height: 50%;
  position: absolute;
  top: -50%;
  z-index: 0;
}
