* {
  font-family: -apple-system, "NotoSans KR";
  color: #202326;
}

body {
  color: #202326;
  background: #f0f3f6;
  margin: 0;
  font-family: -apple-system, "NotoSans KR", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-thumb {
  background-color: #8990a0;
}
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}
