body {
  color: #202326;
  background: #F0F3F6;
  margin: 0;
  font-family: -apple-system, 'NotoSans KR', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
