.aboutUs,
.aboutUsBottom {
  color: #8990a0;
  font-size: 11px;
  font-weight: bold;
}

.aboutUsBottom {
  position: fixed;
  width: 340px;
  text-align: center;
  bottom: 0px;
  margin-bottom: 50px;
}
