.chatsListHead {
  box-sizing: border-box;
  text-align: center;
  padding: 32px;
  margin: 0;
  position: fixed;
  top: -20px;
  width: 100%;
  height: 100px;
  border-radius: 20px;
  background: #fdfeff;
  box-shadow: 0px 5px 20px 0px rgba(80, 80, 80, 10%);
  z-index: 9999;
  font-size: 15px;
  font-weight: bold;
}

.chatList {
  padding-top: 80px;
  text-align: center;
  margin-bottom: 15px;
}

.chatWriteBtn {
  position: fixed;
  right: 20px;
  width: 23px;
  height: 23px;
  background: url("../../../imgs/icons/chat.svg") no-repeat;
  background-size: 100%;
}

.chatInfo {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: 90%;
  height: 65px;
  background: #fdfeff;
  border-radius: 15px;
  margin-top: 10px;
  padding: 15px 0 0 65px;
  font-size: 14.5px;
  text-align: left;
  font-weight: bold;
  text-decoration: none;
}

.chatThumbnail {
  position: absolute;
  top: 12px;
  left: 15px;
}

.lastChat {
  position: relative;
  top: -9px;
  color: #8990a0;
  font-size: 13px;
  font-weight: normal;
}

.unreadMsg {
  position: absolute;
  right: 15px;
  top: 35px;
}

.lastTime {
  position: absolute;
  top: 15px;
  right: 18px;
  color: #8990a0;
  font-size: 12px;
  font-weight: normal;
}
