.chatRoom {
  width: 100%;
  margin-top: 80px;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 90px;
}

.chatPost {
  box-sizing: border-box;
  width: 100%;
  margin: -30px 0 20px 0;
}

.chatHead {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 60px;
  background: #fdfeff;
  z-index: 9999;
  box-shadow: 0px 5px 20px 0px rgba(80, 80, 80, 10%);
}

.chatTtitle {
  text-align: center;
  margin-top: 22px;
  font-size: 15px;
  font-weight: bold;
}

/*ChatInput*/
.chatInputContainer {
  z-index: 9999;
  text-align: center;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  height: 100px;
  left: 0;
  bottom: -25px;
  border-radius: 20px;
  background: #fdfeff;
  box-shadow: 0px -5px 20px 0px rgba(80, 80, 80, 10%);
}

.chatInputInnerContainer {
  margin: 15px 0 0 3.8%;
  display: flex;
  width: 97%;
  height: 50px;
}

.chatInput {
  box-sizing: border-box;
  border: none;
  border-radius: 0;
  background: #f0f3f6;
  border-radius: 12.5px;
  margin: 3px 0 0 8px;
  padding: 0 35px 0 10px;
  width: 95%;
  height: 30px;
}

.inputBtn {
  position: relative;
  left: -30px;
  top: 7px;
  width: 20px;
  height: 20px;
  background: url(../../../imgs/icons/chat.svg) no-repeat;
  background-size: 20px 20px;
}

/*Message*/
.messageContainer {
  display: flex;
  padding-left: 3%;
}

.myMessage {
  justify-content: flex-end;
  padding-right: 3%;
}

.othersMessage {
  margin-top: 3px;
}

.relayMesssage {
  position: relative;
  margin: 7px 0 0 35px;
  top: -26px;
}

.senderName {
  position: relative;
  left: -3px;
  margin-top: 2px;
  font-size: 13px;
}

.messageBox {
  margin-left: 5px;
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
  background-color: #fdfeff;
  font-size: 14px;
}

.byMe {
  background-color: #05b0ea;
  margin-bottom: 7px;
}

.unreadChat {
  display: inline-block;
  color: #fdfeff;
  background: #ff5353;
  font-size: 12px;
  height: 16px;
  border-radius: 8px;
  padding: 0 6px 0 6px;
  margin-right: 5px;
}
