.chatRoom {
  width: 100%;
  margin-top: 80px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.chatHead {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 60px;
  background: #fdfeff;
  z-index: 9999;
  box-shadow: 0px 5px 20px 0px rgba(80, 80, 80, 10%);
}

.chatTtitle {
  text-align: center;
  margin-top: 22px;
  font-size: 15px;
  font-weight: bold;
}

/*ChatInput*/
.chatInputContainer {
  text-align: center;
  box-sizing: border-box;
  background: #fdfeff;
  width: 100%;
  height: 100px;
  position: fixed;
  left: 0;
  bottom: -25px;
  border-radius: 20px;
}

.chatInputInnerContainer {
  margin: 15px 0 0 3.8%;
  display: flex;
  width: 97%;
  height: 50px;
}

.chatInput {
  box-sizing: border-box;
  border: none;
  border-radius: 0;
  background: #f0f3f6;
  border-radius: 12.5px;
  margin: 3px 0 0 8px;
  padding: 0 35px 0 10px;
  width: 95%;
  height: 30px;
}

.inputButton {
  position: relative;
  left: -30px;
  top: 7px;
  border: 0;
  outline: 0;
  width: 20px;
  height: 20px;
  background: url(../../../imgs/icons/chat.svg) no-repeat;
  background-size: 20px 20px;
}

/*Message*/
.messageContainer {
  display: flex;
  padding-left: 3%;
}

.myMessage {
  justify-content: flex-end;
  padding-right: 3%;
}

.senderName {
  position: relative;
  left: -3px;
  margin-top: 2px;
  font-size: 13px;
}

.messageBox {
  margin-left: 5px;
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
  background-color: #fdfeff;
}

.byMe {
  background-color: #05b0ea;
}
